/* src/ToDoList.css */
.todo-list {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  background-color: #f4f4f9; /* Professional light background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 23px;
}

.input-container button {
  padding: 15px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 9px;
}

.input-container button:hover {
  background-color: blue;
  box-shadow:6px 6px 6px black;
  opacity:0.8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 23px;
  margin-bottom: 5px;
  background-color: blue;
  cursor:pointer;
  color:white;
}

li.completed {
  text-decoration: line-through;
  color: #aaa;
}

.actions button {
  border: none;
  background-color:white;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 5px;
}

.actions button:hover {
  box-shadow:6px 6px 6px black;
  opacity:0.8;
}

li button.delete {
  background-color: #dc3545;
}

li button.delete:hover {
  background-color: #c82333;
  box-shadow:6px 6px 6px black;
  opacity:0.8;
}

li input {
  width: calc(100% - 120px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
